<div class="jumbotron">
  <h1>Lipsmacking dishes served <br>
      by world class chefs.</h1>
  <h2>Discover your taste</h2>
</div>

<h1>Menus</h1>

<div class="left">
  <div class="row">
    <% @listings.each do |listing| %>
      <div class="col-md-4">
        <div class="thumbnail">
          <%= link_to image_tag(listing.image.url), listing %>
          <div class="caption">
            <h3><%= listing.name %></h3>
            <p><%= number_to_currency(listing.price, unit: "Rs.") %></p>
            <p><%= "Served by chef #{listing.user.name}" %></p>
          </div>
        </div>   
      </div>
    <% end %>
  </div>
</div>


<br>

<% if user_signed_in? %>
<%= link_to 'New Listing', new_listing_path, class: "btn btn-link" %>
<% end %>